:root {
  --clr-violet: 257 40% 49%;
  --clr-magenta: 300 69% 71%;
  --clr-white: 0 0% 100%;

  --ff-poppins: "Poppins", sans-serif;
  --ff-open-sans: "Open Sans", sans-serif;

  --fw-regular: 400;
  --fw-semi-bold: 600;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  width: 100%;
  min-height: 100vh;
  font-family: var(--ff-open-sans);
  font-weight: var(--fw-regular);
  font-size: 1rem;
  background: hsl(var(--clr-violet));
  color: hsl(var(--clr-white));
  display: flex;
  flex-direction: column;
}

img {
  display: block;
  max-width: 100%;
}

p,
h1 {
  overflow-wrap: break-word;
}

ul {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

main {
  text-align: center;
  flex: 1;
}

.container {
  width: 90%;
  max-width: 80.375rem;
  padding-inline: 1.14rem;
  margin-inline: auto;
}

.logo-wrapper {
  max-width: 8rem;
  padding-top: 2rem;
  margin-left: -3px;
}

section.hero {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 3.8125rem;
  margin-block: 3.75rem 4rem;
}

section.hero > * {
  flex: 1;
}

.hero__title {
  font-family: var(--ff-poppins);
  font-weight: var(--fw-semi-bold);
  font-size: 1.5rem;
  margin-bottom: 0.75rem;
}

.hero__description {
  line-height: 1.5;
}

.cta {
  display: block;
  max-width: 12.5rem;
  margin: 1.5rem auto 0;
  padding: 0.6875rem 1.5rem;
  background: hsl(var(--clr-white));
  color: hsl(var(--clr-violet));
  border-radius: 5rem;
  font-family: var(--ff-poppins);
  font-size: 0.75rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  transition-duration: 200ms;
  outline: transparent;
  text-align: center;
}

.cta:is(:hover, :focus-visible) {
  background: hsl(var(--clr-magenta));
  color: hsl(var(--clr-white));
}

.social-list {
  padding-bottom: 2.5rem;
  display: flex;
  justify-content: center;
  gap: 0.6875rem;
}

.social-link {
  display: block;
  width: 1.75rem;
  height: 1.75rem;
  border: 1px solid;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: transparent;
  transition-duration: 200ms;
  font-size: 0.8rem;
}

.social-link:is(:hover, :focus-visible) {
  color: hsl(var(--clr-magenta));
}

@media (min-width: 40rem) {
  .logo-wrapper {
    max-width: 13.5rem;
  }

  section.hero {
    max-width: 33rem;
  }

  .social-list {
    gap: 1rem;
  }

  .social-link {
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1rem;
  }
}

@media (min-width: 68rem) {
  main {
    text-align: left;
  }

  section.hero {
    max-width: unset;
    margin-block: 5.375rem 1.3125rem;
    flex-direction: row;
    gap: 3.3125rem;
    align-items: start;
  }

  .hero__title {
    font-size: 2.5rem;
    margin-bottom: 1.25rem;
  }

  .hero__description {
    font-size: 1.125rem;
  }

  .cta {
    font-size: 1.125rem;
    margin-inline: unset;
    padding: 0.8125rem 2rem 1rem;
  }

  .social-list {
    justify-content: flex-end;
  }
}
