:root {
  --clr-violet: 257 40% 49%;
  --clr-magenta: 300 69% 71%;
  --clr-white: 0 0% 100%;

  --ff-poppins: "Poppins", sans-serif;
  --ff-open-sans: "Open Sans", sans-serif;

  --fw-regular: 400;
  --fw-semi-bold: 600;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  width: 100%;
  min-height: 100vh;
  font-family: var(--ff-open-sans);
  font-weight: var(--fw-regular);
  font-size: 1rem;
  background: hsl(var(--clr-violet));
  color: hsl(var(--clr-white));
  display: flex;
  flex-direction: column;
}

img {
  display: block;
  max-width: 100%;
}

p,
h1 {
  overflow-wrap: break-word;
}

ul {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

main {
  flex: 1;
}

.container {
  padding-inline: 2.3125rem;
}
