:root {
  --clr-violet: 257 40% 49%;
  --clr-magenta: 300 69% 71%;
  --clr-white: 0 0% 100%;

  --ff-poppins: "Poppins", sans-serif;
  --ff-open-sans: "Open Sans", sans-serif;

  --fw-regular: 400;
  --fw-semi-bold: 600;
}
